@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Barrio&family=Gowun+Dodum&family=Quicksand:wght@300..700&display=swap');

body{
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin-top: -20px;
    z-index: 2;
}
.logo img{
    float: left;
    width: 35px;
    height: 30px;
    padding-bottom: -20px;
}
ul{
    overflow: hidden;
    background-color: rgb(47, 47, 47);
    list-style: none;
}
ul a{
    float: left;
    text-decoration: none;
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20px 30px;
    margin-bottom: -5px;
}
ul a:active{
    background-color: #32cbff;
}
ul a:hover, .dropdown-content a:hover{
    background-color: rgb(255, 193, 237);
    color: rgb(47, 47, 47);
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgb(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 16px 20px;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content{
    margin-top: 60px;
    display: block;
}
.intro{
    display: grid;
    margin: 100px;
}
.intro p{
    font-family: Barriecito, Barrio;
    font-size: 50px;
    background-color: white;
}
.intro .add{
    font-size: 30px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 150px;
}
.cards section{
    width: 100%;
    height: 350px;
}
.cards a{
    text-decoration: none;
    font-family: Barriecito, Barrio;
    font-size: 30px;
    color: white;
}
.cards a:hover{
    font-size: 35px;
    color: rgb(47, 47, 47);
}
.aboutme {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    background-image: url("#");
    background-color: #00a5e0;
}
.aboutme .link{
    grid-column: 3/4;
    grid-row: 2/3;
}
.wwr{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    background-size: 100%;
    background-position: bottom;
    background-color: #89a1ef;
}
.wwr .link{
    grid-column: 1/2;
    grid-row: 2/3;
}
.projects{
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    background-image: url("images/projects.jpg");
    background-color: #ef9cda;
}
.projects .link{
    grid-column: 3/4;
    grid-row: 2/3;
}
.others{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    background-image: url("#");
    background-color: #fecef1;
}
.others .link{
    grid-column: 1/2;
    grid-row: 2/3;
}
.page{
    padding: 30px 300px;
}
.blocks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    place-items:center;
    margin: 0 auto;
    text-align: center;
}
.block{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocks a{
    font-family: Barriecito, Barrio;
    font-size: 50px;
    text-decoration: none;
    color: #f9f9f9;
    text-overflow: clip;

    margin-bottom: -10px;
}
.block a:hover{
    color: rgb(0,0,0);
}
.block p{
    font-family: Quicksand;
    overflow: hidden;
    padding: 15px;
}
.block:hover{
    width: 130%;
    height: 130%;
    z-index: 1;
}
#prophet_cards{
    background-color: #00a5e0;
    align-items: right;
}
#valentines{
    background-color: #32cbff;
}
#grid_flags{
    background-color: #89a1ef;
}
#favorite_devo{
    background-color: #ef9cda;
}
#apostle_spotlight{
    background-color: #fecef1;
}
#positioning{
    background-color: #e5adff;
}
#gallery{
    background-color: #ffc7bd;
}
footer{
    padding-top: 100px;
    color: #89a1ef;
    width: 100%;
}
.contacts{
    display: inline-flex;
    gap: 100px;
}
footer .icon {
    width: 30px;
}