@font-face {
    font-family: superpixel;
    src: url(../fonts/superpixel.ttf);
}

*{
    margin: 0;
}

body {
    background: url(../images/background_circuits.png);
}

#wrapper {
    border: 3px solid #061f47;
    border-radius: 20px;
    width: 1024px;
    margin: 40px auto;
    box-shadow: 10px 10px #A5ADAF;
    background: #FDFDFE;
}

h1 {
    font-family: superpixel;
    float: left;
    margin-top: 50px;
    margin-left: 75px;
}

main section {
    width: 360px;
    height: 360px;
    background: #A5ADAF;
    border: 12px solid #061f47;
    padding: 8px;

    /* --- Display inline ------ */
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-left: 76px;
    

    /* ---- Float --------- 
    float: left;
    margin: 35px 0px 0px 76px;
    */
}

header img {
    float: left;
}

header {
    height: 150px;
    border-bottom: 3px solid #061f47;
}

nav {
    width: 100%;
    background: #753014;
    border-bottom: 5px solid #061f47;
    border-top: 3px solid #061f47;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75em;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #FDFDFE;
    text-decoration: none;
}

nav li {
    display: flex;
    height: 42px;
    width: 25%;
    align-items: center;
    justify-content: center;
}

nav li:hover {
    text-shadow: 2px 2px #061f47;
    background: #A5ADAF;
}



#contact {
    background: #A5ADAF;
    width: 200px;
    min-height: 200px;
    padding: 10px;
    border: 3px solid #061f47;
    position: fixed;
    bottom: 0px;
    right: 20px;
    transition: height .85s;
}

#contact form{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

#contact:hover {

}
footer {
    clear: both;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 3px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable thead {
  background: #1C6EA4;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

@media (max-width:1024px){
    #wrapper{
        width: 100%;
        margin: unset;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    main section{
        
    }
}

 

